<style>
  a#R-logo {
    font-size: 1.875rem;
    margin-top: -.8125rem;
    max-width: 40%;
    width: 14.125rem;
  }
</style>

<a id="R-logo" href="{{ partial "permalink.gotmpl" (dict "to" .Site.Home) }}">
  <img src="{{"https://private-user-images.githubusercontent.com/38000954/408651001-7ba735be-165d-4149-b4bc-e67df117af26.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzgzNDI5NjIsIm5iZiI6MTczODM0MjY2MiwicGF0aCI6Ii8zODAwMDk1NC80MDg2NTEwMDEtN2JhNzM1YmUtMTY1ZC00MTQ5LWI0YmMtZTY3ZGYxMTdhZjI2LnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTAxMzElMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwMTMxVDE2NTc0MlomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTgwNjc3NDFkNjg0OGY0NDgwNTYxNDk3ZmRjNWJmNDJkNTVlMTVjMjM1ODY4NTlhZmRjNDJkYTExMDdjM2E1NzAmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.OUuPAqvwR00MVghl_eH0OwRF87Pah6P1x6nSn4y8dQQ" | relURL}}" alt="brand logo">
</a>
<br>
<strong>
<span style="color: black;">Yuya Hamamatsu</span>
<br>
<a href="https://taltech.ee/en/biorobotics"><span style="color: white;">@Taltech, Estonia</span></a>
</strong>
